@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #282a36;
  --bg-text: #313340;
  --text-color: #efefef;
  --accent-color: #bd93f9;
  --titlebar-bg: #1e1f29;
  --sidebar-bg: #343746;
  --sidebar-hover-bg: #3c3d51;
  --explorer-bg: #21222c;
  --explorer-hover-bg: #313241;
  --explorer-border: #161a1d;
  --tabs-bg: #191a21;
  --tab-bg: #21222c;
  --tab-active-bg: #282a36;
  --tab-border: #191a21;
  --footer-bg: #191a21;
  --footer-border: #191a21;
  --button-bg: #44475a;
  --button-text: #f8f8f2;
  --footer-hover-bg: #4f4f52;
  --scrollbar-track-bg: #282a36;
  --scrollbar-thumb-bg: #454647;
  --article-bg: #21222c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: #282a36;
    --bg-text: #313340;
    --text-color: #efefef;
    --accent-color: #bd93f9;
    --titlebar-bg: #1e1f29;
    --sidebar-bg: #343746;
    --sidebar-hover-bg: #3c3d51;
    --explorer-bg: #21222c;
    --explorer-hover-bg: #313241;
    --explorer-border: #161a1d;
    --tabs-bg: #191a21;
    --tab-bg: #21222c;
    --tab-active-bg: #282a36;
    --tab-border: #191a21;
    --footer-bg: #191a21;
    --footer-border: #191a21;
    --button-bg: #44475a;
    --button-text: #f8f8f2;
    --footer-hover-bg: #4f4f52;
    --scrollbar-track-bg: #282a36;
    --scrollbar-thumb-bg: #454647;
    --article-bg: #21222c;
  }
}

.sections {
  flex-direction: column;
}
.index_section {
  height: 100vh;
}