.container {
    max-width: 70vw;
}
.carousel {
    max-width: 100%;
    margin-bottom: 2rem;
}
.modal_carousel {
    max-width: 100%;
}

.project__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.project__text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.project__links {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.8rem;
}

@media screen and (max-width: 600px) {
    .project__title {
        font-size: 1rem;
    }
    .project__text {
        font-size: 0.8rem;
    }
}