.container {
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5rem;
}

.project__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.project__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}