.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
}

.project__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.project__text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.project__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .project__links {
        flex-direction: column;
        gap: 0.8rem;
    }   
    .project__title {
        font-size: 1rem;
    }
    .project__text {
        font-size: 0.8rem;
    }
}