.tabs {
    display: flex;
    background: var(--tabs-bg);
    overflow-x: auto;
}

@media screen and (max-width: 900px) {
    .tabs {
        width: 78vw;
    }
}

@media screen and (max-width: 768px) {
    .tabs {
        display: none;
    }
}