.titlebar{
  background: rgb(var(--dark-bg));
  height: 30px;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--light-color));
  font-size: 0.85rem;
  /* border-bottom: 1px solid #191d20; */
}